{% extends "base.html" %}
{% load static %}

{% block title %}WEPL | Interiors & PMC{% endblock %}

{% block meta %}
        <meta name="description" content="We aim at being the Project Management Consultancy (PMC) contractor of choice by supporting its customers’ business objectives and consistently delivering projects with outstanding safety and environmental performance that meet cost, schedule and quality targets. At Mark-Interiors, we document inspiration. We bring to our customers a steady set of resources that helps them to create and maintain beautiful homes. We create architectural innovations, new design trends, products decor tips with Mark - Bed & Bath Linen. We aim to become your one stop source for home interior design needs!" />
        <meta name="keywords" content="" />
{% endblock %}

{% block content %}	
		
		<div class="belowHomeBox_pmc">
			<section id="set-5">
				<div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
					<a href="/projects/" class="hi-icon hi-icon-projects">Projects</a>
				</div>						
			</section>
		</div>

		<div class="container">		
			<ul id="sg-panel-container">
				<li data-w="60" data-h="55">
					<img title="" src="{% static 'images/interiors-pmc/1111.jpg' %}" data-rotate-x="50" />
					<img title="" src="{% static 'images/interiors-pmc/88.jpg' %}" data-rotate-y="-50" />
					<img title="" src="{% static 'images/interiors-pmc/33.jpg' %}" data-rotate-x="50" data-translate-z="-700" />
					<div data-translate-z="-500" >
						<div class="sg-content">
							<h3>Winmark Enterprises</h3>
							<p>“Life begins at home”, a heaven where a host of feelings find expression, tenderness, joy, happiness, warmth, care…. 
							We inspire and celebrate these human emotions with building homes, designing & creating lifestyle decor and finally 
							furnishing them with Mark Bed & Bath Linen.</p>
						</div>
					</div>
				</li>
				<li data-w="100" data-h="40">
					<img title="" src="{% static 'images/interiors-pmc/55.jpg' %}" data-rotate-x="50" />
					<img title="" src="{% static 'images/interiors-pmc/66.jpg' %}" data-rotate-y="-50" />
				</li> 
				<li data-w="35" data-h="65">
					<img title="" src="{% static 'images/interiors-pmc/1111.jpg' %}" data-translate-x="-300"/>
					<img title="" src="{% static 'images/interiors-pmc/44.jpg' %}" data-translate-y="300"/>
					<img title="" src="{% static 'images/interiors-pmc/88.jpg' %}" data-translate-y="300"/>
					<img title="" src="{% static 'images/interiors-pmc/1313.jpg' %}" data-translate-x="300"/>
				</li>
				<li data-w="60" data-h="55">
					<img title="" src="{% static 'images/interiors-pmc/1212.jpg' %}" data-rotate-x="50" />
					<img title="" src="{% static 'images/interiors-pmc/99.jpg' %}" data-rotate-y="-50" />
					<div>
						<div class="sg-content">
							<h3>Interior Design & PMC</h3>
							<p>Winmark Enterprises Private Limited serves the construction & interior design industry in several ways.</p>
						</div>
					</div>
					<img title="" src="{% static 'images/interiors-pmc/33.jpg' %}" data-rotate-x="50" data-translate-z="-700" />
				</li>
				<li data-w="40" data-h="100">
					<img title="" src="{% static 'images/interiors-pmc/99.jpg' %}" data-rotate-x="50" />
					<img title="" src="{% static 'images/interiors-pmc/77.jpg' %}" data-rotate-x="50" data-translate-z="-700" />
				</li>
				<li data-w="50" data-h="50">
					<img title="" src="{% static 'images/interiors-pmc/1414.jpg' %}" data-translate-z="250" />
					<img title="" src="{% static 'images/interiors-pmc/1313.jpg' %}" data-translate-z="250" />
					<img title="" src="{% static 'images/interiors-pmc/1212.jpg' %}" data-translate-z="250" />
					<img title="" src="{% static 'images/interiors-pmc/1111.jpg' %}" data-translate-z="250" />
				</li>
				<li data-w="30" data-h="100">
					<img title="" src="{% static 'images/interiors-pmc/77.jpg' %}" data-rotate-x="50" />
					<div data-rotate-y="50">
						<div class="sg-content">
							<h3>PMC</h3>
							<p>We aim at being the Project Management Consultancy (PMC) contractor of choice by supporting its customers’ business 
							objectives and consistently delivering projects with outstanding safety and environmental performance that meet cost, 
							schedule and quality targets.</p>
							</div>
					</div>
				</li>
				<li data-w="100" data-h="40">
					<img title="" src="{% static 'images/interiors-pmc/1010.jpg' %}" data-rotate-x="50" />
					<img title="" src="{% static 'images/interiors-pmc/1111.jpg' %}" data-rotate-y="-50" />
				</li> 
				<li data-w="100" data-h="100">
					<img title="" src="{% static 'images/interiors-pmc/33.jpg' %}" data-rotate-y="50" data-translate-z="-1700" />
				</li>
				<li data-w="50" data-h="50">
					<img title="" src="{% static 'images/interiors-pmc/77.jpg' %}" data-translate-z="250" />
					<img title="" src="{% static 'images/interiors-pmc/88.jpg' %}" data-translate-z="250" />
					<img title="" src="{% static 'images/interiors-pmc/33.jpg' %}" data-translate-z="250" />
					<img title="" src="{% static 'images/interiors-pmc/44.jpg' %}" data-translate-z="250" />
				</li>
				<li data-w="100" data-h="40">
					<div>
						<div class="sg-content sg-columns">
							<h3>Interior Design</h3>
							<p>At Mark-Interiors, we document inspiration. We bring to our customers a steady set of resources that helps them to
							create and maintain beautiful homes. We create architectural innovations, new design trends, products decor tips with 
							Mark - Bed & Bath Linen. 
							We aim to become your one stop source for home interior design needs!</p>
						</div>
					</div>
					<img title="" src="{% static 'images/interiors-pmc/55.jpg' %}" data-rotate-y="-50" />
				</li>
				<li data-w="100" data-h="100">
					<img title="" src="{% static 'images/interiors-pmc/1010.jpg' %}" data-rotate-z="20" data-translate-z="700" />
				</li>
				<li data-w="50" data-h="50">
					<img title="" src="{% static 'images/interiors-pmc/66.jpg' %}" data-rotate-y="90" data-translate-z="-700" />
					<div data-rotate-y="50">
						<div class="sg-content">
							<h3>Interior Design Projects</h3>
							<p>1. Penthouse @ Juhu <br/>2. SKFF Office <br/>3. Lotus Corporate Park</p>
						</div>
					</div>
					<div data-rotate-y="50">
						<div class="sg-content">
							<h3>PMC Projects</h3>
							<p>1. Harvansh Apartments <br/>2. S. K. House <br/>3. SKFF Factory</p>
						</div>
						</div>
					<img title="" src="{% static 'images/interiors-pmc/33.jpg' %}" data-rotate-y="-90" data-translate-z="-700" />
				</li>
			</ul>
			
		</div>
		
		<script type="text/javascript" src="{% static 'js/interiorspmc.min.js' %}"></script>
		
		<script type="text/javascript">	
			$(function() {
			
				$( '#sg-panel-container' ).gridgallery();
			
			});
		</script>
		<script>		
		$(function() {
			sayHi();

			function sayHi() {
			   setTimeout(sayHi,8000);
			   $(".sg-next").trigger('click');
			}
		});				
		</script>		

{% endblock %} 